window {
    background-color: #000000;
}
button{
    background-color: #000000;
    background: #000000;
    border-color: #000000;
    margin: 0px;
    -GtkButton-margin : 0 0 0 0;
    -GtkButton-padding : 0 0 0 0;
    -GtkWidget-outline-width : 0;
    -GtkWidget-outline-offset : 0;
    padding: 0;
    border: none;
    border-radius: 100px;
    border-color: #000000;
}

